html {
    box-sizing: border-box;
    background-color: #000814

}
body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#calcContainer {
    margin-top: 250px;
    border-style: solid;
    border-color: #003566;
    border-width: 10px;
    border-radius: 10px;
    width: 393px;
    height: 460px;
}

#calcButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 250px;
}

#inputView,#outputView {
    width: 384px;
    height: 70px;
    background-color: #edc531;
    color: #000814;
    text-align: right;
    font-size: 40px;
    padding-right: 10px;
}

.numBox {
    width: 244px;
    height: 360px;
    gap: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.number {
    height: 80px;
    width: 80px;
    padding: 0px;
    margin: 0px;
    background-color: #2a2e34;
    color: white;
}

.numRow {
    width: 300px;
    height: 80px;
    display: flex;
    gap: 1px;
  
}

.opButton {
    display: flex;
    flex-direction: column;
    width: 84px;
    height: 180px;
}

.oper {
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    background-color: #2a2e34;
    color: white;
}
.OProw {
    display: flex;
    gap: 1px;
    width: 150px;
}

.equalAndClear {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 160px;
    width: 168px;
}

.equal,.clearAll {
    height: 80px;
    width: 150px;
    background-color: #2a2e34;
    color: white;
}

.number,.oper,.equal,.clearAll {
    font-size: 30px;
}

